.mainBlock{
    background-image: url("https://thumb.tildacdn.com/tild3135-3864-4634-b135-383039323135/-/format/webp/desktop-g71499dbb4_1.jpg");
    width: 100vw;
}
.block{
    height: 600px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    color:white;
}
.text{
    font-size: 68px;
    font-weight: 600;
    transition-delay: 0s;
}
.divText{
    max-width: 540px;
}