.mainContainer{
    display: flex;
    flex-direction: column;
}
.mainContainerSelect{
    background-color: initial;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    color: #2541a0;
    cursor: pointer;
}
.lineContainer{
    display: flex;
    flex-direction: column;
}
.lineContainer input{
    width: 40%;
    height: 36px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: unset;
}
.lineTableContainer{
    display: flex;
    justify-content: space-between;
}
.lineTableContainer div{
    width: 45%;
}
.box{
    padding:8px;
    margin-top: 12px;
    border:1px solid black;
}
@media (max-width: 660px) {
    .lineContainer input{
        width: 70%;
    }
}
@media (max-width: 430px) {
    .lineContainer input{
        width: 100%;
    }
}