.mainContainer{
    display: flex;
    flex-direction: column;
}
.mainContainerSelect{
    background-color: initial;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    color: #2541a0;
    cursor: pointer;
}
.lineContainer{
    display: flex;
    flex-direction: column;
}
.lineContainer input{
    width: 40%;
}
.lineTableContainer{
    display: flex;
    justify-content: space-between;
}
.lineTableContainer div{
    width: 100%;
}
.lineTableContainer input{
    width: 80%;
}
.lineContainerLabel{
    display: inline-flex;
    width: 40%;
    justify-content: space-between;
}
.textButton{
    color:blue;
}
.textButton:hover{
    text-decoration: underline;
}
@media (max-width: 660px) {
    .lineContainer input{
        width: 70%;
    }
    .lineContainerLabel{
        width: 70%;
    }
}
@media (max-width: 430px) {
    .lineContainer input{
        width: 100%;
    }
    .lineContainerLabel{
        width: 100%;
    }
    .lineTableContainer{
        flex-direction: column;
    }
}