.mainContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: skyblue;
    align-items: center;
    align-content: flex-start;
}
.stepContainer{
    margin-top:92px;
}
.mainContainer input[type='text']{
    height: 36px;
    font-size: unset;
    border-radius: 10px;
    border: 1px solid black;
}